

.container {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 90vw;
  margin: 5rem auto;
  background: #fff;
  border-radius:  0.25rem;
  max-width: 1170px;
  gap: 1rem 2rem;
  
}

.styleDitails {
  align-items: center;
  margin: 0.5cm;
  text-align: left;
  color: rgb(5, 48, 86);
  align-items: center;
  flex-direction: column;
  padding: 1rem 1.5rem;
  border: 2px solid #eae6eb;
  border-radius:  0.25rem;
  box-shadow:  0 5px 15px rgba(0, 0, 0, 0.1);
}
.styleDitails p {
  font-weight: bold;
  text-transform: capitalize;
  line-height: 1.8;
}
.styleDitails span {
  margin-right: 0.5rem;
}

.styleDitailsData {
  background:#caf8ce; 
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  color: #429b02;
}

.imagen {
  border: 1px solid black;
  width: min-content;
  height: auto;
  border-radius: 5px;
  padding: 10px;
  margin-top: 2em;
  border-radius:  0.30rem;
  box-shadow:  22px 30px 10px rgba(21, 21, 21, 0.1); 
}
.title {
  font-family: "Pacifico", cursive;
  color: rgb(13, 40, 96);

}
