.pagePagination{
  height: 40px;
  width: 40px;
  color: white;
  background: rgb(3, 138, 143);
  border: 2px solid;
  border-color: rgb(0, 0, 0);;
  transition: all .3s ease;
  position: relative;
  border-radius: 5px;
}

.pagePagination:hover {
  background:rgb(0, 102, 136);;
  color: #fff;
}

.divPagination{
  margin-top: 10px;
}
